<div class="projects-container">
    <div class="projects-items">
        <h2>Interactive Installation at Trekanten</h2>
        <br>
        <p>In collaboration with a group of 3, we were assigned the task of developing an interactive installation. 
            Our project focused on developing an interactive installation for the culture house "Trekanten". The 
            goal was to address the underutilization of the workshop room Makerspace at "Trekanten".  We structured 
            the process according to the Simple Lifecycle Model, incorporating extensive research and user interviews. 
            The information was used to create personas and scenarios, utilizing the 10Plus10 sketching method. The process 
            was repeated becoming iterative and supported by sketching and refining the ideas.  
            <br><br>
            Inspired by Nielsen's usability heuristics and Gestalt theory, our collaborative effort resulted in a final design 
            solution. To showcase the design's functionality, we then produced an augmented reality video as a high-fidelity prototype. 
            The video demonstrated user-interface interactions and highlighted the interactive workshops at Trekanten. To gather user 
            feedback, our group actively employed the Wizard of Oz method, incorporating valuable insights into the development of the 
            final prototype.  
            <br><br>
            During the process, I played a key role in emulating the functionality for a pedestal with an automatically activated lightning 
            system and a user interface for a touch screen. The user was then to be immersed by both the light and the screen to run the video 
            promoting the Makerspace. Furthermore, the project provided me with experience in the Simple Lifecycle Model, interview techniques, 
            sketching, wireframing, and collaborative design. 
            <br><br>Below a collage of images of the work can be seen.
        </p>

        <div class="row-3">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/SimpleLifecycleModel.png">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/Brainstorm.jpg">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/Persona1.jpg">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/Sketch2-And.jpg">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/TestOverview.jpg">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/Anim1.png">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/Pedestal.jpg">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/Arrows.jpg">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/PedestalDesign.jpg">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/StoryboardSmall.jpg"
                style="height: 500px;">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/frontImage/PedestalRenderGrootCropped.jpg" style="height: 500px">

        </div>
        <p>

        </p>

        <div class="projects-text">

        </div>
    </div>
</div>