<div class="projects-container">
    <div class="projects-items">
        <h2>Interactive Installation at Trekanten</h2>
        <br>
        <p>This project involved the development of an interactive installation for Trekanten, focusing on solving a
            problem and involving users in the design process. The Simple Lifecycle Model was followed, which included
            researching and interviewing users at Trekanten, creating personas and scenarios, and sketching and refining
            ideas through iterations. The final design solution incorporated Nielsen's usability heuristics and Gestalt
            theory. To showcase the design, an augmented reality video was created as a high-fidelity prototype,
            demonstrating user-interface interactions and highlighting the workshops at Trekanten.
            <br><br>
            The project aimed to address the problem of the Makerspace area at Trekanten receiving insufficient
            attention. Through research and interviews, it was determined that an interactive prototype could be
            developed to highlight the workshops and generate interest among users. The focus was placed on the 3D
            printers within the Makerspace due to their accessibility and versatility.
            <br><br>
            Persona sketches and scenario sketches were created, and the 10Plus10 sketching method was employed to
            refine the design solutions. User feedback was gathered through the Wizard of Oz method, leading to the
            development of the final prototype.
            <br><br>
            The interface design of the pedestal utilized Trekanten's color theme and included both Danish and English
            versions for accessibility. To attract attention, the pedestal would light up when the user approached it.
            The prototype effectively introduced users to the Makerspace, showcasing its location and the creations made
            within it.
            <br><br>
            In conclusion, this project illustrated an prototype that addressed the problem of promoting the Makerspace.
            The design process involved thorough research, iterative development, and user testing, resulting in a
            prototype that introduces people to the Makerspace and highlights its potential.
            <br><br>
            A collage of images about the project can be seen below.
        </p>

        <div class="row-3">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/SimpleLifecycleModel.png">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/Brainstorm.jpg">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/Persona1.jpg">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/Sketch2-And.jpg">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/TestOverview.jpg">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/Anim1.png">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/Pedestal.jpg">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/Arrows.jpg">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/PedestalDesign.jpg">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/StoryboardSmall.jpg"
                style="height: 500px;">
                <img class="gallery__img" src="assets/projects/PedestalHighlighter/frontImage/PedestalRenderGrootCropped.jpg" style="height: 500px">

        </div>
        <p>

        </p>

        <div class="projects-text">

        </div>
    </div>
</div>