<div class="projects-container">
    <div class="projects-items">
        <h2>Interactive Installation at Trekanten</h2>
        <br>
        <p>I was an active participant in a group of four individuals working on a project that focused on developing 
            an interactive installation for the culture house "Trekanten." Our primary goal was to address the underutilization 
            of the Makerspace area at Trekanten by actively engaging users in the design process.

            Our approach followed the Simple Lifecycle Model, incorporating extensive research and user interviews at Trekanten. 
            Together, we created personas and scenarios, utilizing the 10Plus10 sketching method for persona sketches and scenario 
            sketches. The iterative process of sketching and refining ideas played a crucial role throughout the design phase.
            <br><br>
            Inspired by Nielsen's usability heuristics and Gestalt theory, our collaborative effort resulted in a final design solution. 
            To effectively showcase the design's functionality, we produced an augmented reality video as a high-fidelity prototype. 
            This video not only demonstrated user-interface interactions but also highlighted the interactive workshops at Trekanten.
            <br><br>
            During the design process, I specifically played a key role in developing the interface for the pedestal. This involved 
            ensuring the design matched Trekanten's colors and included both Danish and English versions for accessibility. The 
            pedestal was designed to light up when approached, contributing to user-friendliness and aiding visitors in discovering 
            the Makerspace and its creations.
            <br><br>
            To gather user feedback, our group actively employed the Wizard of Oz method, incorporating valuable insights into the 
            development of the final prototype. The project's focus on promoting the Makerspace, particularly emphasizing the 3D 
            printers' accessibility and versatility, was a result of my research and interviews.
            <br><br>
            In summary, my contribution to this collaborative project provided me with valuable experience in the Simple Lifecycle 
            Model, interview techniques, sketching, wireframing, and collaborative design. The resulting prototype stands as a compelling 
            solution to promote the Makerspace, reflecting a thorough design process and a user-centric approach that actively involved users 
            in shaping the final outcome.
        </p>

        <div class="row-3">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/SimpleLifecycleModel.png">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/Brainstorm.jpg">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/Persona1.jpg">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/Sketch2-And.jpg">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/TestOverview.jpg">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/Anim1.png">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/Pedestal.jpg">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/Arrows.jpg">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/PedestalDesign.jpg">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/StoryboardSmall.jpg"
                style="height: 500px;">
            <img class="gallery__img" src="assets/projects/PedestalHighlighter/frontImage/PedestalRenderGrootCropped.jpg" style="height: 500px">

        </div>
        <p>

        </p>

        <div class="projects-text">

        </div>
    </div>
</div>