.body {
    width: 100%;
    min-height: 100vh;
    transition: all 0.5s ease;
    padding-top: 10vh; /* Adjust the value to move the content further or closer to the top */
    padding-left: 5vw; /* Adjust the value to move the content further or closer to the left */
    padding-right: 5vw;
    padding-bottom: 10vh;
    font-family: "Montserrat", sans-serif;
  }
  
  .background {
    background: hsl(222, 32%, 8%);
    width: 100%;
    height: 100%;
    border: 5px solid white;
    border-style:inset;
    border-top: none;
  }
  
  @media (max-width: 768px) {
    /* Adjustments for mobile devices */
    .body {
      padding-top: 10vh;
      padding-left: 2vw;
      padding-right: 2vw;
    }
  }
  