.body {
    width: 100%;
    min-height: 100%;
    transition: all 0.5s ease;
    padding-top: 50px; /* Adjust the value to move the content further or closer to the top */
    padding-left: 5vw; /* Adjust the value to move the content further or closer to the left */
    padding-right: 5vw;
    padding-bottom: 50px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  
  @media (max-width: 768px) {
    /* Adjustments for mobile devices */
    .body {
      padding-left: 2vw;
      padding-right: 2vw;
    }
  }

  :host{
    display: contents;
  }
  
  