<div class="about-container">
    <div class="about-items">
        <h2>Who am I?</h2>
        <div class="about-list">
            <ul>
                <li class="no-dots">Name: Eske Klintø</li>
                <li class="no-dots">Age: 22</li>
                <li class="no-dots">Education: Bachelor's degree in Interaction Design</li>
            </ul>
            <div class="about-text">
            <br>
            As an interaction designer, my focus lies in developing innovative tools, systems, and creative solutions, including game programming. I specialize in bridging the gap between the digital and physical realms to deliver seamless and engaging user experiences.
            <br><br>
            Outside of my professional pursuits, I have a strong interest in sound design, game development, and engaging in physical activities. These hobbies serve as a source of inspiration and fuel my creativity, contributing to a well-rounded approach to design.
            <br><br>
            Collaboration plays a vital role in my work, as I firmly believe that diverse perspectives and practices enhance creativity and lead to better outcomes. I thrive in team environments, leveraging collective expertise to create impactful and user-centric designs.

            </div>
        </div>
    </div>
    <div class="about-items">
        <h2>Skills</h2>
        <div class="about-list">
            <ul>
                <li class="no-dots">UI/UX Design</li>
                <li class="no-dots">Wireframing and Prototyping</li>
                <li class="no-dots">User Research and Testing</li>
                <li class="no-dots">Interaction Design Principles</li>
                <li class="no-dots">Programming</li>
            </ul>
        </div>
    </div>
    <div class="about-items">
        <h2>Tools</h2>
        <div class="about-list">
            <ul>
                <li class="no-dots">Figma</li>
                <li class="no-dots">Adobe Photoshop</li>
                <li class="no-dots">Adobe Illustrator</li>
                <li class="no-dots">Blender</li>
                <li class="no-dots">SolidWorks</li>
                <li class="no-dots">Scribus(report writing)</li>
                <li class="no-dots">Github</li>
                <li class="no-dots">Linux</li>
                <li class="no-dots">Windows</li>
            </ul>
        </div>
    </div>
    <div class="about-items">
        <h2>Programming languages</h2>
        <div class="about-list">
            <ul>
                <li class="no-dots">C</li>
                <li class="no-dots">C#</li>
                <li class="no-dots">C++(self taught)</li>
                <li class="no-dots">HTML/CSS</li>
                <li class="no-dots">Python(self taught)</li>
                <li class="no-dots">R</li>
            </ul>
        </div>
    </div>
</div>
