<div class="about-container">
    <div class="about-items">
        <h2>Who am I?</h2>
        <div class="about-text">
            <p>Information about myself:</p>
        </div>
        <div class="about-list">
            <ul>
                <li>Name: Eske Klintø</li>
                <li>Age: 22</li>
                <li>Education: Bachelor's degree in Interaction Design</li>
            </ul>
        </div>
    </div>
    <div class="about-items">
        <h2>Skills</h2>
        <div class="about-list">
            <ul>
                <li>UI/UX Design</li>
                <li>Wireframing and Prototyping</li>
                <li>User Research and Testing</li>
                <li>Interaction Design Principles</li>
                <li>Visual Design</li>
            </ul>
        </div>
    </div>
    <div class="about-items">
        <h2>Tools</h2>
        <div class="about-text">
            <p>Below are the different tools I have experience with:</p>
        </div>
        <div class="about-list">
            <ul>
                <li>Figma</li>
                <li>Adobe Photoshop</li>
                <li>Adobe Illustrator</li>
                <li>Blender</li>
                <li>SolidWorks</li>
                <li>Scribus(report writing)</li>
                <li>Github</li>
            </ul>
        </div>
    </div>
    <div class="about-items">
        <h2>Programming languages</h2>
        <div class="about-text">
            <p>Programming languages I have worked with:</p>
        </div>
        <div class="about-list">
            <ul>
                <li>C</li>
                <li>C#</li>
                <li>C++</li>
                <li>HTML/CSS</li>
                <li>Python</li>
            </ul>
        </div>
    </div>

    <div class="about-items">
        <h2>Operating System Experience</h2>
        <div class="about-text">
            <p>Operating systems I am familiar with:</p>
        </div>
        <div class="about-list">
            <ul>
                <li>Windows</li>
                <li>macOS</li>
                <li>Linux(prefer)</li>
            </ul>
        </div>
    </div>
</div>
