<div class="about-container">
    <div class="about-items">
        <h2>Who am I?</h2>
        <div class="about-list">
            <ul>
                <li class="no-dots">Name: Eske Klintø</li>
                <li class="no-dots">Age: 22</li>
                <li class="no-dots">Education: Bachelor's degree in Interaction Design</li>
            </ul>
        </div>
    </div>
    <div class="about-items">
        <h2>Skills</h2>
        <div class="about-list">
            <ul>
                <li class="no-dots">UI/UX Design</li>
                <li class="no-dots">Wireframing and Prototyping</li>
                <li class="no-dots">User Research and Testing</li>
                <li class="no-dots">Interaction Design Principles</li>
                <li class="no-dots">Programming</li>
            </ul>
        </div>
    </div>
    <div class="about-items">
        <h2>Tools</h2>
        <div class="about-list">
            <ul>
                <li class="no-dots">Figma</li>
                <li class="no-dots">Adobe Photoshop</li>
                <li class="no-dots">Adobe Illustrator</li>
                <li class="no-dots">Blender</li>
                <li class="no-dots">SolidWorks</li>
                <li class="no-dots">Scribus(report writing)</li>
                <li class="no-dots">Github</li>
                <li class="no-dots">Linux</li>
                <li class="no-dots">Windows</li>
            </ul>
        </div>
    </div>
    <div class="about-items">
        <h2>Programming languages</h2>
        <div class="about-list">
            <ul>
                <li class="no-dots">C</li>
                <li class="no-dots">C#</li>
                <li class="no-dots">C++</li>
                <li class="no-dots">HTML/CSS</li>
                <li class="no-dots">Python</li>
            </ul>
        </div>
    </div>
</div>
