<div class="projects-container">
    <div class="projects-items">
        <h2>Creating a motion controller for the game Overcooked! 2</h2>
        <br>
        <p>The purpose of this project was to design and program an interactive physical product, specifically a game
            controller, within the theme of "Designing Physical Controllers for Games or Serious Play." We utilized
            knowledge from the "Mechatronic Products and Systems" course, which introduced us to mechanical components,
            sensing, and interface design. The available workshops in the Design Studio equipped us with resources such
            as 3D printers, soldering stations, and foam cutters to construct prototypes.
            <br><br>
            After researching different types of games, we chose "Overcooked! 2" as our target game and focused on
            motion controls for the controller. We aimed to mimic the appearance of kitchen equipment from the game.
            Throughout the project, we made important developments and conducted user testing to evaluate if the
            controller met the problem statement.
            <br><br>
            The user testing revealed positive reactions to the design, with participants providing favorable feedback.
            We dedicated significant effort to making the controller wireless, which proved to be a convenient and
            reliable feature. As we fine-tuned and improved the controller, it became more robust and functioned
            smoothly.
            <br><br>
            Working on this project provided valuable learning experiences, allowing us to work with Arduino and utilize
            the tools in the design studio workshops. Our evaluations indicated that our motion-controlled controller
            added a level of "gimmicky fun" to "Overcooked! 2," fulfilling the problem statement of enhancing the game's
            enjoyment.
            <br><br>
            In reflection, we found that the term "gimmicky fun" best described the enjoyment participants experienced.
            Our controller served as a novel and entertaining accessory for playing the game, providing additional
            enjoyment for a limited time. However, it may not replace long-term use of traditional controllers like the
            Xbox controller. It could be marketed as an experimental product to attract players to try "Overcooked! 2."
            <br><br>
            <a href="https://github.com/eske4/OvercookedController">Code can be found here</a>
            <br><br>
            Below a collage of the project can be seen
        </p>

        <div class="row-3">
            <img src="assets/projects/GameController/Input.jpg">
            <img src="assets/projects/GameController/Chosen.png">
            <img src="assets/projects/GameController/KnifeTech.png">
        </div>
        <div class="row-2">
            <img src="assets/projects/GameController/controller split.png">
            <img src="assets/projects/GameController/frontImage/PlateKnife.jpg">
        </div>
    </div>
</div>