<div class="projects-container">
    <div class="projects-items">
        <h2>Creating a motion controller for the game Overcooked! 2</h2>
        <br>
        <p> In collaboration with a group of 5, we were assigned the task of designing and programming an interactive 
            physical product—specifically, a game controller. Our focus revolved around the theme of 'Designing Physical 
            Controllers for Games or Serious Play.'
            <br><br>
            After careful consideration, we chose 'Overcooked! 2' as our target game. Overcooked is a cooperative 
            speed cooking game. We aimed to elevate the gaming experience by adding our unique controller featuring 
            motion controls inspired by in-game kitchen movements. 
            <br><br>
            Throughout the project, my main task was refining the design and conducting extensive user testing to ensure 
            our controller effectively addressed identified challenges. The results of our iterative user testing was valuable 
            and incorporated in the controller features.  
            <br><br>
            I devoted significant effort to implementing wireless functionality and delved into Arduino programming using a 
            variety of tools available in the design studio workshops provided by the university. Through iterative fine-tuning, 
            our controller evolved into a reliable user-friendly product. 
            <br><br>
            Constructing the controller prototype, I acquired skills in soldering, utilized foam cutters, and designing UML 
            diagrams gaining a deeper understanding of the interaction dynamics. 
            <br><br>
            <a href="https://github.com/eske4/OvercookedController">Code can be found here</a>
            <br><br>
            Below a collage of the project can be seen
        </p>

        <div class="row-3">
            <img src="assets/projects/GameController/Input.jpg">
            <img src="assets/projects/GameController/Chosen.png">
            <img src="assets/projects/GameController/KnifeTech.png">
        </div>
        <div class="row-2">
            <img src="assets/projects/GameController/controller split.png">
            <img src="assets/projects/GameController/frontImage/PlateKnife.jpg">
        </div>
    </div>
</div>