<div class="projects-container">
    <div class="projects-items">
        <h2>Creating a motion controller for the game Overcooked! 2</h2>
        <br>
        <p>In collaboration with a group of four others, our project aimed to design and program an interactive physical 
            product, specifically a game controller, centered around the theme of 'Designing Physical Controllers for Games 
            or Serious Play.' Utilizing resources such as 3D printers and soldering stations available in the Design Studio workshops 
            provided by the university, we crafted prototypes to bring our ideas to life.
            <br><br>
            After careful consideration, we selected 'Overcooked! 2' as our target game, with the aim of enhancing 
            the gaming experience with our unique controller featuring motion controls inspired by in-game kitchen movements.
            <br><br>
            Throughout the project, my role played a crucial part in refining the design and conducting thorough user testing to 
            ensure our controller effectively addressed identified challenges.
            <br><br>
            User testing yielded positive results, with participants expressing enthusiasm and providing valuable feedback. 
            To enhance user convenience, I dedicated significant effort to implementing wireless functionality, a feature 
            that not only made the controller more user-friendly but also enhanced its overall reliability. As we iteratively 
            fine-tuned the design, our controller evolved into a robust and seamlessly functioning product.
            <br><br>
            I also want to highlight that, during this process, I acquired skills in soldering, utilized foam cutters, 
            and designed UML diagrams to gain a better understanding of the interaction dynamics.
            <br><br>
            This hands-on project not only allowed me to actively contribute to the design and programming of a game controller 
            but also provided invaluable learning experiences. I immersed myself in Arduino programming and honed practical skills 
            using diverse tools available in the design studio workshops. The positive reception and feedback we received for our 
            motion-controlled controller, bringing an element of 'gimmicky fun' to 'Overcooked! 2,' fulfilled the problem statement 
            of enhancing the game's enjoyment.
            <br><br>
            Upon reflection, I recognize my contributions to steering our project. People enjoyed our controller because it added a 
            fun element we like to call 'gimmicky fun.' While it might not permanently replace controllers like the Xbox One, this 
            project equipped me with valuable skills. The controller itself stands as an intriguing experimental product, inviting 
            people to try out a unique interactive experience, as highlighted through our work.
            <br><br>
            <a href="https://github.com/eske4/OvercookedController">Code can be found here</a>
            <br><br>
            Below a collage of the project can be seen
        </p>

        <div class="row-3">
            <img src="assets/projects/GameController/Input.jpg">
            <img src="assets/projects/GameController/Chosen.png">
            <img src="assets/projects/GameController/KnifeTech.png">
        </div>
        <div class="row-2">
            <img src="assets/projects/GameController/controller split.png">
            <img src="assets/projects/GameController/frontImage/PlateKnife.jpg">
        </div>
    </div>
</div>