<div class="projects-container">
    <div class="projects-items">
        <img class="projects-image" src="assets/projects/GameController/frontImage/PlateKnife.jpg" alt="Game controller" style="width:610px;">  
        <div class="projects-text">
            <h2>Aalborg University - Project 5<br>Designing Physical Controllers for Games
                or Serious Play</h2>
            <div class="projects-text">In collaboration with a group of 4, I created a physical controller for the game "Overcooked 2!" including Arduino, soldering and foam cutting<br><br><a routerLink="/Project1">Click to explore further.</a></div>
        </div>
    </div>
    <div class="projects-items">
        <img class="projects-image" src="assets/projects/NavigationApp/frontImage/Navi.jpg" alt="NavigationApp" style="height:500px;">  
        <div class="projects-text">
            <h2>Aalborg University - Project 6<br>Creating and Evaluating Intelligent Systems</h2>
            <div class="projects-text">Collaborating with a group of 5, I crafted an app for smart route generation and navigation, covering APIs and both Unity and Python Flask for front/backend development.<br><br><a routerLink="/Project2">Click to explore further.</a></div>
        </div>
    </div>
    <div class="projects-items">
        <img class="projects-image" src="assets/projects/PedestalHighlighter/frontImage/PedestalRenderGrootCropped.jpg" alt="Arton - high light pedestal" style="height:500px;">  
        <div class="projects-text">
            <h2>Aalborg University - Project 3<br>Interactive Installation at Trekanten</h2>
            <div class="projects-text">In collaboration with a group of 3, I created a prototype video of a pedestal including UI, 3D model, and concept.<br><br><a routerLink="/Project3">Click to explore further.</a>
        </div>
    </div>
</div>