<div class="projects-container">
    <div class="projects-items">
        <img class="projects-image" src="assets/projects/GameController/frontImage/PlateKnife.jpg" alt="Game controller" style="width:450px;">  
        <div class="projects-text">
            <h2>Aalborg University - Project 5<br>Designing Physical Controllers for Games
                or Serious Play</h2>
            <div class="projects-text">Designed and programmed an interactive physical game controller for "Overcooked! 2" using mechatronic knowledge, workshops, arduino, blender and cutting tools. Emphasis on motion controls and kitchen equipment aesthetics.<br><br><a routerLink="/Project1">Read more about the project here</a></div>
        </div>
    </div>
    <div class="projects-items">
        <img class="projects-image" src="assets/projects/NavigationApp/frontImage/Navi.jpg" alt="NavigationApp" style="height:500px;">  
        <div class="projects-text">
            <h2>Aalborg University - Project 6<br>Creating and Evaluating Intelligent Systems</h2>
            <div class="projects-text">Designed and developed a user-centric route generation digital product using Unity (front-end) and Python (back-end) with two APIs. Leveraged PostGresSQL and Supabase for algorithmic calculations. Created an Android app for navigation and highly personalized route recommendations.<br><br><a routerLink="/Project2">Read more about the project here</a></div>
        </div>
    </div>
    <div class="projects-items">
        <img class="projects-image" src="assets/projects/PedestalHighlighter/frontImage/PedestalRenderGrootCropped.jpg" alt="Arton - high light pedestal" style="height:500px;">  
        <div class="projects-text">
            <h2>Aalborg University - Project 3<br>Interactive Installation at Trekanten</h2>
            <div class="projects-text">
                In this project we created an interactive installation at Trekanten, a culture house, involving users in the design process. Through user research, personas, and scenarios, we made a solution for Trekanten. Employing Nielsen's heuristics and Gestalt theory, we refined the design and developed an augmented reality-based high-fidelity prototype. The prototype was showcased in a video created using SolidWorks and Photoshop Premiere.
                <br><br>
                  <a routerLink="/Project3">Read more about the project here</a>
        </div>
    </div>
</div>