<div class="projects-container">
    <div class="projects-items">
      <h2>In case you want to get in contact</h2>
      <form action="https://formspree.io/f/xwkdedpa" method="POST">
        <div class="form-group">
          <label for="email">Your email:</label>
          <input type="email" id="email" name="email">
        </div>
        <div class="form-group">
          <label for="message">Your message:</label>
          <textarea id="message" name="message"></textarea>
        </div>
        <!-- your other form fields go here -->
        <button type="submit">Send</button>
      </form>
    </div>
    <div class="projects-items">
      <h2>Alternative contact methods</h2>
      <div class="projects-text">
        You can contact directly to my mail here: eskeklarsen@gmail.com
        <br><br>
        Phonenumber: +45 30647288
		<br><br>
		<a href="https://www.linkedin.com/in/eske-klint%C3%B8-larsen-18bba5225?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B3NdE9wXYQUCNSGW%2FgK63cw%3D%3D">Linkedin profile</a>
      </div>
    </div>
  </div>
  