.sidenav {
  background-color: #022E51;
  transition: all .5s ease;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 5rem;
  box-shadow: 0.063rem 0 1.25rem 0 #00507046;
  display: flex;
  border-radius: 0 0.613rem 0.613rem 0.613rem;

  .logo-container {
    display: flex;
    align-items: center;
    padding: 0 0.938rem;

    .logo {
      background: #034d8a;
      text-align: center;
      width: 3rem;
      min-width: 3rem;
      border-radius: 0.313rem;
      padding: 0.313rem;
      font-size: 24px;
      font-weight: 900;
      color: #CC6D3D;
      cursor: pointer;
      border: none;
      display: grid;
      place-content: center;
      &:hover{background: #016ec7;}
    }

    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .fa-times {
        color: #034d8a;
        font-size: 24px;
        &:hover{color: #016ec7;}
      }
    }
  }

  &.sidenav-collapsed {
    width: 100%;
    border-radius: 0 0 0.613rem 0.613rem;
  }

  .sidenav-nav {
    position: sticky; /* Add sticky positioning */
    top: 0; /* Stick the navigation items at the top */
    list-style: none;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .sidenav-nav-item {
      flex-grow: 1;
      background-color: #034d8a;
      border-radius: 0.613rem;
      margin-right: 0.825rem;
      margin-top: 1rem;
      margin-bottom: 1rem;

      .sidenav-nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        color: #f3f3f3;
        text-decoration: none;
        border-radius: 0.625rem;
        transition: all .3s ease;

        .sidenav-link-text {
          color: #ffffff;
          transition: all .3s ease;
          font-size: 24px;
          font-family: "Montserrat", sans-serif;
        }

        @media (max-width: 600px) {
          .sidenav-link-text {
            font-size: 14px; /* Adjust the value as needed */
          }
        }

        @media (max-width: 300px) {
          .sidenav-link-text {
            font-size: 8px; /* Adjust the value as needed */
          }
        }
        
      }
    }

    .sidenav-nav-item:hover {
      .sidenav-nav-link {
        background-color: #016ec7;
        color: #000;
      }
    }
  }
}

