<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()"><img src="assets/PenguinIsNice.svg" alt="No" height="30px"></button>
    </div>
    <nav class="sidenav-nav" >
        <div class="content" *ngFor="let data of navData">
            <a class="sidenav-nav-item  sidenav-link-text" [routerLink]="[data.routeLink]" *ngIf="collapsed" [routerLinkActive]="'is-active'">
                {{data.label}}
            </a>
        </div>
    </nav>
    <div class="logo-container">
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">    
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
</div>