.sidenav {
  background-color: #022E51;
  transition: all .5s ease;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 80px;
  box-shadow: 0.063rem 0 1.25rem 0 #00507046;
  display: flex;
  border-radius: 0 0.613rem 0.613rem 0.613rem;
  font-family: 'Bubblegum Sans';

  padding: 1em;

  .logo-container {
    display: flex;
    align-items: center;
    // padding: 0 0.938rem;

    .logo {
      background: #034d8a;
      text-align: center;
      width: 3rem;
      min-width: 3rem;
      border-radius: 0.313rem;
      padding: 0.313rem;
      font-size: 24px;
      font-weight: 900;
      color: #ffffff;
      cursor: pointer;
      border: none;
      display: grid;
      place-content: center;

      &:hover {
        background: #016ec7;
      }

      @media (max-width: 1024px) {
        &:hover {
          background: #034d8a;
        }
      }

      &:visited,
      &:active {
        background-color: #034d8a;
      }

      svg {
        &:hover {
          fill: #000000;
        }

        height: 30px;
        fill: #fff;
      }

      @media (max-width: 1024px) {
        svg {
          &:hover
          {
          fill: #fff;
          
          }
          fill: #fff;

        }
      }
    }

    .btn-close {
      margin-left: auto;
      cursor: pointer;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .fa-times {
        color: #ffffff;
        font-size: 24px;

        &:hover {
          color: #c70101;
        }

      }
    }
  }

  &.sidenav-collapsed {
    width: 100%;
    border-radius: 0 0 0.613rem 0.613rem;

    .sidenav-nav {

      margin: 0 0.5em;
    }
  }

  .sidenav-nav {
    position: sticky;
    /* Add sticky positioning */
    top: 0;
    /* Stick the navigation items at the top */
    list-style: none;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .sidenav-link-text {
      text-align: center;
      flex-grow: 1;
      font-size: 24px;
      height: 30px;
      line-height: 32px;
      background-color: #034d8a;
      border-radius: 0.613rem;
      padding: 0.313rem;
      margin: 0 0.5em;
      color: #fff;
      text-decoration: none;
      box-sizing: content-box;

      &:visited {
        background-color: #034d8a;
      }

      &:hover,
      &:active,
      &.is-active {
        background-color: #016ec7;
        color: #000;
      }
    }

    @media (max-width: 600px) {
      .sidenav-link-text {
        font-size: 14px;
        /* Adjust the value as needed */
        margin: 0 0.3em;
      }
    }

    @media (max-width: 300px) {
      .sidenav-link-text {
        font-size: 8px;
        /* Adjust the value as needed */
        margin: 0 0.1em;
      }
    }
  }
}

.content {
  display: contents;
}