<div class="projects-container">
    <div class="projects-items">
        <h2>Creating and Evaluating Intelligent Systems</h2>
        <br>
        <p>In this project, our focus was to develop an interactive intelligent system, resulting in a mobile
            application that generates cycling or walking routes based on points of interest. The project encompassed
            the entire process from the initial idea to the final prototype.
            <br><br>
            We followed the Double Diamond method, progressing through the Discover, Define, Develop, and Deliver phases.
            During the Discover phase, we delved into interactive intelligent systems, generated ideas, and conducted thorough 
            research. Moving into the Define phase, we refined our concept, prioritized requirements, and formulated a clear problem 
            statement. As we entered the Development phase, my responsibilities centered on steering the backend development in Unity, 
            architecting APIs using Python's Flask framework, and setting up a database with PostgreSQL through Supabase. 
            Throughout this phase, I also conducted usability tests, gathering essential feedback that informed iterative improvements.
            <br><br>          
            The application received positive evaluations, with users expressing enthusiasm for exploring their neighborhoods. 
            We successfully addressed the identified problem statement, fostering neighborhood exploration through the application. 
            However, user feedback also provided valuable insights for future enhancements. Suggestions included implementing 
            unobtrusive audio guidance, addressing music playback interruptions, and introducing user-preference-based sorting 
            for points of interest.
            <br><br>           
            In conclusion, this project not only delivered a successful application promoting neighborhood exploration 
            but also provided a valuable learning experience. It equipped me with a versatile skill set in frontend, 
            backend, and databases. The adoption of a Kanban workflow for task organization proved effective, and the 
            project, along with a dedicated course, expanded my proficiency in conducting tests. While Python served 
            well for efficient feature testing, the project also highlighted its limitations for API development. 
            Moving forward, I aim to explore alternative languages for APIs while continuing to leverage Python's 
            strengths in swift feature testing.
            <br><br>
        </p>

        <div class="button-grid">
            <a href="https://github.com/eske4/RunningRouteGeneratorAPI">API</a>
            <a href="https://github.com/eske4/RunningRouteGeneratorClient">Client</a>
        </div>

        <p>
            <br><br>Below a collage of images of the work can be seen.
        </p>

        <div class="row-3">
            <img src="assets/projects/NavigationApp/DataMindmap.png" style="height: 400px">
            <img src="assets/projects/NavigationApp/Niels2A.png" style="height: 400px">
            <img src="assets/projects/NavigationApp/RoutePrefPage1.png" style="height: 400px">
            <img src="assets/projects/NavigationApp/RouteSettingsExplore.png" style="height: 400px">
        </div>
        <div class="row-3">

            <img src="assets/projects/NavigationApp/Categories.png" style="height: 400px">
            <img src="assets/projects/NavigationApp/POIPickPage.jpg" style="height: 400px">
            <img src="assets/projects/NavigationApp/Navi.jpg" style="height: 400px">
        </div>
    </div>
</div>