

<div class="projects-container">
    <div class="projects-items">
        <h2>Creating and Evaluating Intelligent Systems</h2>
        <br>
        <p>In this project, our focus was to develop an interactive intelligent system, resulting in a mobile application that generates cycling or walking routes based on points of interest. The project encompassed the entire process from the initial idea to the final prototype.
            <br><br>
            We followed the Double Diamond method, progressing through the Discover, Define, Develop, and Deliver phases. The Discover phase involved exploring interactive intelligent systems, generating ideas, and conducting research. In the Define phase, we refined the concept, prioritized requirements, and formulated a problem statement. The Develop phase included designing a prototype using Unity and integrating APIs and a database. Usability tests and evaluations provided valuable feedback for improvement. In the final Deliver phase, we incorporated changes and additional functionality based on feedback and conducted a new evaluation.
            <br><br>
            The application's evaluations demonstrated positive feedback, with participants expressing motivation to explore their neighborhoods and interest in generating new routes. The project successfully addressed the problem statement, facilitating neighborhood exploration through the application.
            <br><br>
            While the evaluations were overall positive, participants provided suggestions for improvement. One suggestion was implementing audio guidance in the background, and addressing concerns about interrupting music playback. Sorting points of interest (POIs) based on user preferences was also mentioned. These suggestions, along with others, provide valuable insights for future development.
            <br><br>
            In conclusion, this project successfully developed an application that promotes neighborhood exploration. Evaluations highlighted its potential and identified areas for enhancement. The project report includes a comprehensive discussion on challenges, limitations, future work, and a conclusion that evaluates the fulfillment of the problem statement.
            <br><br>
        </p>

        <div class="button-grid">
            <a href="https://github.com/eske4/RunningRouteGeneratorAPI">API</a>
            <a href="https://github.com/eske4/RunningRouteGeneratorClient">Client</a>
        </div>

        <p>            
            <br><br>Below a collage of images of the work can be seen.
        </p>            
        
        <div class="row">
            <div class="column">
                <img class="gallery__img" src="assets/projects/NavigationApp/discover.png">
                <img class="gallery__img" src="assets/projects/NavigationApp/DataMindmap.png">
                <img class="gallery__img" src="assets/projects/NavigationApp/Niels2.png">
                <img class="gallery__img" src="assets/projects/NavigationApp/RouteSettingsExplore.png" style="max-height: 1000px;">
                <img class="gallery__img" src="assets/projects/NavigationApp/AfterRun.jpg" style="max-height: 1000px;">
            </div>
            <div class="column">
                <img class="gallery__img" src="assets/projects/NavigationApp/sus.jpg">
                <img class="gallery__img" src="assets/projects/NavigationApp/susScore.jpg">
                <img class="gallery__img" src="assets/projects/NavigationApp/DataBase.png">
                <img class="gallery__img" src="assets/projects/NavigationApp/NodeSystem2.png">
                <img class="gallery__img" src="assets/projects/NavigationApp/Navi.jpg" style="max-height: 1000px;">
                <img class="gallery__img" src="assets/projects/NavigationApp/RouteConfirm.png" style="max-height: 1000px;">
            </div>
            <div class="column">
                <img class="gallery__img" src="assets/projects/NavigationApp/HomePage.png" style="max-height: 1000px;">
                <img class="gallery__img" src="assets/projects/NavigationApp/Categories.png" style="max-height: 1000px;">
                <img class="gallery__img" src="assets/projects/NavigationApp/POIPickPage.jpg" style="max-height: 1000px;">
                <img class="gallery__img" src="assets/projects/NavigationApp/POIZoom.jpg" style="max-height: 1000px;">
            </div>
        </div>
        <p>

        </p>

        <div class="projects-text">

        </div>
    </div>
</div>