.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vw;
    flex: 1;
  }
  
  .grid-item {
    height: 100%; /* Fill 100% of the height */
    background-color: hsl(221, 31%, 31%);
    border-radius: 9000px;
    display: grid;
    padding: 100px 10px;
    
    &:first-of-type {
        background-color: transparent;
        padding: 0 10px;
    }
    &:nth-of-type(2) {
        place-content: center;
        height: auto;
    }
    img {
        place-self: center;
        border-radius: 100%;
        width: 100%;
        align-self: center;
    }
    h1{
        color: #fff;
        padding-bottom: 25px;
        text-align: center;
    }
    p{
        color: #fff;
        text-align: center;
        padding-bottom: 69px;
    }
    a{
        color: #fff;
        border: 1px solid #fff;
        text-align: center;
        padding: 10px 0;
        text-decoration: none;
        border-radius: 69px;
    }

    a:hover{
      background-color: #6495ed;
    }
    .social-icons
    {
        display: flex;
    }
  }
  
  @media (max-width: 1250px) { /* Media query for phone */
    .grid-container {
      grid-template-columns: 1fr; /* Single column on phone */
    }
  }

 
.adjust-sizing{
    display: grid;
    align-content: center;
    flex: 1;
}

:host{
    display: contents;
  }